

html {
    font-family: 'Amatic SC';
    font-size: 20px;
    box-sizing: border-box;
    background: #ffc600;
}

body {
    margin: 0;
    padding: 0;
    
}
* , *::before, *::after{
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}

.panels {
    min-height: 100vh;
    display: flex;
    overflow: hidden;
   
   
    
}

.panel{
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: #fff;
    width: 100% ;
    text-align: center;
    align-items: center;
    transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
  
    background-size: cover;
    background-position: center;
    flex:1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.panel1 {
    background-image: url('images/cold-g7711acdea_1920.jpg');
}

.panel2 {
    background-image: url('images/robin-g436bdf40c_1920.jpg');
}

.panel3 {
    background-image: url( 'images/girl-g9f0c44620_1920.jpg');
}

.panel4 {
    background-image: url('images/tree-736885.jpg');
}

.panel5 {
    background-image: url('images/woman-570883_1920.jpg');
    color: #000000;
}

.panel > * {
    margin: 0;
    transition: transform 0.5s;
    flex: 1 0 auto ;
    display: flex;
    justify-content: center;
    align-items: center;

}
.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

.panel p{
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}

.panel p:nth-child(2) {
    font-size: 3.5em;
  }

.panel.open{
    flex: 7;
    font-size: 40px;
}

  @media only screen and (max-width: 600px) {
    .panel p {
      font-size: 1em;
    }
  }